<!-- result.erb -->

<div class="result-group">
  <h2>Total Score:</h2>
  <p class="result-paragraph" id="total-score">
      <%= @total_score %>
  </p>
</div>

<div class="result-group">
  <h2>Risk rating:</h2>
  <p class="result-paragraph" id="risk-rating">
      <%= @risk_rating %>
  </p>
</div>

<div class="result-group">
  <h2>Inspection Frequency:</h2>
  <p class="result-paragraph" id="frequency">
    <%= @frequency %>
  </p>
</div>

<div class="result-group">
  <h2>FH Rating Score:</h2>
  <p class="result-paragraph" id="food-hygiene-rating">
    <%= @food_hygiene_rating %>
  </p>
</div>

<div class="result-group">
  <div class="image-wrapper">
    <img src="<%= @fhrs_image_url %>" alt="An illustration showing a FHRS score of <%= @food_hygiene_rating %>">
  </div>
</div>

<div class="result-group">
  <button class="btn" onclick="location.href='/'">Restart</button>
</div>
